[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
sklearn = "*"
hyperopt = "*"
xgboost = "*"
tensorflow = "*"
scikeras = "*"
jupyterlab = "*"
mlflow = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
